
.menuBotton{
    -fx-background-color: transparent;
    -fx-border-width: 0 5px 0 0;
    -fx-border-color: transparent;
}

.menuBotton:hover{
    -fx-background-color: rgba(255, 255, 255, 0.41);
    -fx-border-width: 0 5px 0 0;
    -fx-border-color: white;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

.labelColur{
    -fx-background-color: linear-gradient(#3178ab 0%, #208e81 100%);
}